

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">



<div class="d-grid gap-2 col-6 mx-auto">
    <div class="input-group flex-nowrap">
        
        <input type="text" class="form-control" #input placeholder="Enter here..." aria-label="detail" aria-describedby="addon-wrapping" value="{{value}}">
    </div>
        <button class="btn btn-primary " (click)="add(input.value)" type="button">Add</button>
    </div>


  <div class="display d-grid gap-2 col-6 mx-auto" *ngFor="let item of arr">
    
    <p *ngIf="(item.id +1)%5==0 else elseB" style="color:rgb(0, 128, 255)">{{item.item}}</p>
    <ng-template #elseB>
        <p >{{item.item}}</p>
    </ng-template>
   

  </div>